.bolsa-empleo-container {

  flex-wrap: wrap;
  justify-content: space-between;
  /* Alinear las columnas */
}

/* styles.css */
.selected {
  background-color: #959599 !important;
  /* Color de fondo para la categoría seleccionada */
  color: black;
}

.button-default {
  background-color: red;
  /* Color por defecto */
  color: black;
}


.navbar1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10%;
  justify-content: space-around;
  background-color: white;
  /* Cambia el color de fondo del navbar según tus preferencias */
  padding: 10px 0;
}

.navbar-tab {
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  box-shadow: 2px 2px 5px red;
  /* Agrega sombreado en las orillas */
}

.navbar-tab.active {
  background-color: white;
  color: black;
}

.card-column-layout {
  column-count: 3;
  /* Número de columnas deseadas */
  column-gap: 20px;
  /* Espacio entre las columnas (ajusta según tus preferencias) */
}

.card-custom {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
  /* Fondo con textura */
  width: 100%;
  /* Asigna el ancho completo en pantallas pequeñas */
}

.card-custom:not(:last-child) {
  margin-right: 20px;
  /* Agregar espacio entre las columnas */
}

.card-custom:hover {
  transform: scale(1.05);
}

.card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0));
  transform: skew(-20deg);
  z-index: 1;
}

.card-custom .card-body {
  position: relative;
  z-index: 2;
}

.card-custom .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-custom .card-subtitle {
  color: #666;
  font-size: 1rem;
}

.card-custom .card-text {
  margin-top: 15px;
}

.card-custom .btn-danger {
  color: white;
  background-color: red;
  /* Fondo transparente */
  border: 2px solid red;
  /* Borde rojo */
  transition: background-color 0.3s ease-in-out;
}

.card-custom .btn-danger:hover {
  background-color: rgba(255, 0, 0, 0.2);
  /* Fondo al pasar el ratón sobre el botón */
}

/* Estilo para el Modal */
.modal-header {
  background-color: black;
  color: red;
  border-bottom: 1px solid red;
}

.modal-title {
  color: red !important;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

.modal-body {
  background-color: white;
  color: black;
}

.modal-footer {
  background-color: white;
  color: black;
  /* border-top: 1px solid red; */
}

/* Estilo para los H4 dentro del Modal */
.modal-body h4 {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px red;
}

/* Estilo para los H4 dentro de la tabla */
.table h4 {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px red;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination-container .page-number .btn-success {
  background-color: #28a745;
  /* Cambiar a tu color deseado */
  border-color: #28a745;
  /* Cambiar a tu color deseado */
  color: #fff;
  /* Cambiar a tu color deseado */
}

.page-number {
  display: flex;
  gap: 5px;
}

.page-number button {
  width: 30px;
  /* Ajusta el ancho según sea necesario */
  height: 30px;
  /* Ajusta la altura según sea necesario */
}

@media (max-width: 768px) {

  /* Cambios para pantallas más pequeñas (tamaño de tablet y dispositivos móviles) */
  .navbar1 {
    flex-direction: column;
    align-items: center;
  }

  .navbar-tab {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .card-custom {
    margin-right: 0;
    /* Elimina el margen derecho en pantallas pequeñas */
  }

  .card-column-layout {
    column-count: 1;
    /* Cambia a una sola columna en pantallas pequeñas */
  }
}


.search-input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #e30613;
}
