.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  display: none;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
.search-bar {
position: relative;
margin-bottom: 20px;
}

.search-input {
position: relative;
}

.dropdown {
position: absolute;
top: 100%;
left: 0;
width: calc(100% - 20px);
max-height: 200px;
overflow-y: auto;
border: 1px solid #ddd;
border-radius: 4px;
background-color: #fff;
display: none;
}

.dropdown-item {
padding: 10px;
cursor: pointer;
}

.dropdown-item:hover {
background-color: #f0f0f0;
}
/* En tu archivo de estilos CSS */
.rounded-pill {
  border-radius: 50px; /* o cualquier valor que desees */
}

.border-0 {
  border: none !important;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.shadow-red {
  box-shadow: 0 0 10px red; 
}
.shadow-gray {
  box-shadow: 0 0 10px gray;
  width: 80%;
  margin: 0 auto; /* Agregamos esta línea para centrar horizontalmente */
}


.buttonStyle1 {
background-color: white;
color: black;
border-radius: 10px;
padding: 10px 20px;
margin-left: 5%;
margin-right: 5%;
font-size: 1.5em;
border: 2px solid red; 
font-weight: bold;
cursor: pointer;
outline: none;
transition: background-color 0.3s ease-in-out;
}

.selectedButton {
background-color: black;
color: white;
}
@keyframes vibrate {
0% {
  transform: translate(0);
}
25% {
  transform: translate(-2px, 2px);
}
50% {
  transform: translate(4px, -4px);
}
75% {
  transform: translate(-4px, 4px);
}
100% {
  transform: translate(0);
}
}

.logo-vibrating {
animation: vibrate 0.2s infinite;
}

/* Estilo para el contenedor principal */
.navbar1 {
display: flex;
flex-wrap: wrap;
justify-content: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
margin-top: 4%;
}

/* Estilo para la lista */
.nav-list1 {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-wrap: wrap;
justify-content: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
}

/* Estilo para cada elemento de la lista */
.nav-item1 {
margin: 10px; /* Espacio entre cada botón */
flex: 0 0 calc(50% - 20px);
box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
}

/* Estilo para el enlace dentro de cada elemento */
.nav-item1 a {
display: block;
padding: 10px 20px;
text-align: center;
text-decoration: none;
background-color: red; /* Color de fondo del botón */
color: #fff; /* Color del texto del botón */
border-radius: 5px; /* Bordes redondeados */
transition: background-color 0.3s ease-in-out;
width: 100%; /* Ajusta el ancho al 100% para ocupar el contenedor */
box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
}

/* Estilo al pasar el ratón sobre el enlace */
.nav-item1 a:hover {
background-color: black; /* Cambiar el color de fondo al pasar el ratón */
color: #fff; /* Cambiar el color del texto al pasar el ratón */
}
