.clasificados-container {
  display: flex;
  margin-top: 0%;
  max-width: 100%; /* Asegura que el contenedor no sea más ancho que el 100% de la pantalla */
  overflow-x: hidden; /* Evita que el contenido sobresalga en pantallas más pequeñas */
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
  
.columna {
  flex: 1 1 calc(20% - 10px); /* Ajusta el ancho a 20% para 5 columnas */
  width: calc(20% - 10px); /* Elimina el tamaño fijo para permitir 5 columnas */
  height: 100%;
}

  .columna.imagenes {
    max-width: calc(50% - 10px); /* Ajusta el ancho de las columnas con imágenes */
  }
  .columna:not(:last-child) {
    border-right: 1px solid black; 
  }
  
  .clasificado {
    border-left: none;
    border-right: none;
    background: transparent;
    padding: 20px;
    font-size: 1.2em;
    font-weight: normal;
    font-family: 'Times New Roman', serif;
    line-height: 1.5;
    overflow: hidden;
    height: 100%;
    max-height: 650px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    
}

.clasificado::before {
    content: '';
    position: absolute;
    width: 120%; /* Ancho del 80% del contenedor */
    left: -0%;
    border-top: 3px solid black; /* Grosor y color de la línea superior */
}

.clasificado::after {
    content: '';
    position: absolute;
    width: 70%; /* Ancho del 80% del contenedor */
    border-bottom: none; /* Elimina el borde inferior */
}

.clasificado::before {
    top: 0;
}

.clasificado::after {
    bottom: 0;
}
.clasificado h2 {
  font-size: 1.8em; /* Ajusta el tamaño del h2 en dispositivos pequeños */
}
  .clasificado a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el contenido es demasiado largo */
    display: block;
  }
  .clasificado img {
    max-height: 50%; /* Ocupa el 50% de la altura disponible */
  }
  
  /* Agrega estilos para clasificados sin contenido */
  .clasificado.sin-contenido {
    max-height: 450px; /* Ajusta la altura máxima para clasificados sin contenido */
    flex-grow: 1; /* Hace que los clasificados sin contenido ocupen el espacio adicional */
    display: flex;
    flex-direction: column;
  }
  
  /* Ajusta el estilo de la imagen en clasificados sin contenido */
  .clasificado.sin-contenido img {
    flex-grow: 1; /* La imagen ocupa el espacio restante */
    object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo la relación de aspecto */
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    max-height: 100%; /* Ocupa el 100% de la altura disponible */
  }
  .paginacion {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espaciado superior entre clasificados y botones de paginación */
  }
  
  /* Estilos para los botones de paginación */
  button {
    background-color: #ff4444; /* Rojo */
    color: #ffffff; /* Letras blancas */
    border: none;
    padding: 10px 15px;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra negra */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  button:hover {
    background-color: #cc0000; /* Cambio de color al pasar el ratón */
  }
  .categoria-identificativo {
    font-weight: bold;
    margin-bottom: 10px; /* Ajusta el espacio entre el identificativo y el primer clasificado */
  }
  .categoria-identificativo1 {
    font-weight: bold;
    font-size: 0.7em;
    margin-top: -10px;
    margin-bottom: 5px; /* Ajusta el espacio entre el identificativo y el primer clasificado */
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red; /* Color de fondo rojo */
    padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
    overflow-x: auto;
  }
  .navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: transparent;
    /* padding: 10px 20px; Ajusta el espaciado según sea necesario */
    overflow-x: auto;
    cursor: pointer; /* Agregado para que el cursor cambie al pasar sobre el elemento */
    font-size: 1.2em; /* Doble de tamaño */
    font-weight: bold; /* Negrita */
    
  }
  .navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
    background-color: white; /* Color de fondo rojo */
    /* padding: 10px 20px; Ajusta el espaciado según sea necesario */
    overflow-x: auto;
    cursor: pointer; /* Agregado para que el cursor cambie al pasar sobre el elemento */
    font-size: 0.8em; /* Doble de tamaño */
    font-weight: bold; /* Negrita */
    /* text-shadow: 2px 2px 4px #D50000;  */
  }
  .navbar3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    background-color: white; /* Color de fondo rojo */
    /* padding: 10px 20px; Ajusta el espaciado según sea necesario */
    overflow-x: auto;
    cursor: pointer; /* Agregado para que el cursor cambie al pasar sobre el elemento */
    font-size: 0.8em; /* Doble de tamaño */
    font-weight: bold; /* Negrita */
    text-shadow: 2px 2px 4px #D50000; /* Sombreado negro */
  }
  

  .navbar ul {
    list-style: none;
    display: flex;
    gap: 10px; /* Espaciado entre las categorías */
  }
  
  .navbar li {
    color: white; /* Texto blanco */
    font-weight: bold; /* Negrita */
    cursor: pointer;
  }
  .linea-horizontal {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
  }
  
  /* Opcional: Cambia el estilo al pasar el ratón por encima */
  .navbar li:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón por encima */
  }
  
/* Estilos para dispositivos pequeños o móviles */
@media (max-width: 768px) {
    .columna {
      font-size: 0.6em;
    }
    .columna.imagenes {
      max-width: calc(100% - 10px); /* Ajusta el ancho de las columnas con imágenes en dispositivos pequeños */
    }
    .clasificado h2 {
      font-size: 1.0em; /* Ajusta el tamaño del h2 en dispositivos pequeños */
    }
  }

  .container {
    position: relative;
  }
  
  .background-container {
    position: absolute;
    top: 0;
    left: 0;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
  }
  
  .content-container {
    /* Estilos del contenido */
    position: relative;
    z-index: 1; /* Asegura que el contenido esté encima del fondo */
  }

  .table-container table {
    border: 1px solid #ccc;
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid black;
    color: black;
  }
  
  .table-container tr.selected td {
    background-color: #c6e2ff; /* Azul claro para selección */
    font-weight: bold;
  }
  
  